@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #da0000;
  height: 61px;
}

.nav-search {
  margin-left:100px;
  cursor: pointer;
}

.nav-search i {
  color: #fff;
}

.main {
  display: flex;
  justify-content: space-around;
}

.logo{
  cursor: pointer;
}

a{
  padding: 0px 1.2rem;
  font-size: 16px;
  text-decoration:none;
  color: #ffffff;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.currencies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  margin-left:100px;
  cursor: pointer;
}

p {
  text-align: center;
}

i {
  color: green;
  font-weight: bold;
}

.lira i {
  color: red;
}

.nav i {
  color: #fff;
  font-size: 12px;
  margin-left: 5px;
}