@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
*{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #da0000;
  height: 61px;
}

.nav-search {
  margin-left:100px;
  cursor: pointer;
}

.nav-search i {
  color: #fff;
}

.main {
  display: flex;
  justify-content: space-around;
}

.logo{
  cursor: pointer;
}

a{
  padding: 0px 1.2rem;
  font-size: 16px;
  text-decoration:none;
  color: #ffffff;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.currencies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  margin-left:100px;
  cursor: pointer;
}

p {
  text-align: center;
}

i {
  color: green;
}

.lira i {
  color: red;
}

.nav i {
  color: #fff;
  font-size: 12px;
  margin-left: 5px;
}

.usd-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 900;
  color:#3b5998;
  cursor: pointer;
}

.usd-icon:hover {
  background:#3b5998;
  color: #fff;
  transition: 0.1s ease-in;
}

.euro-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d34836;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 900;
  color:#d34836;
  cursor: pointer;
}

.euro-icon:hover {
  background:#d34836;
  color: #fff;
  transition: 0.1s ease-in;
}

.ruble-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #00ACED;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 900;
  color:#00ACED;
  cursor: pointer;
}

.ruble-icon:hover {
  background:#00ACED;
  color: #fff;
  transition: 0.1s ease-in;
}

.lira-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #FF6600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 900;
  color:#FF6600;
  cursor: pointer;
}

.lira-icon:hover {
  background:#FF6600;
  color: #fff;
  transition: 0.1s ease-in;
}